.nav-ul {
    padding: 5px;
    margin: 0px;
    background-color: skyblue;
    text-align: center;
}
.nav-ul li{
    display: inline-block;
    padding: 10px;
}
.nav-right{
    text-align: right;
}
.nav-right1 {
    margin-left: 30%;
}
.logo{
    width: 145px;
    float: left;
    border-radius: 2%;
    margin-top: 3px;
    margin-left: 20px;
}
.nav-ul li a{
    padding: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}